<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="ip" default="host_not_given_to_launch" />
  <arg name="host" default="$(arg ip)" />
  <arg name="ns" default="Sensor" />

  <!-- driver -->
  <group ns="$(arg ns)">
    <node name="client_node" 
          pkg="quanergy_client_ros" 
          type="client_node" 
          args="-host $(arg host) -settings $(find quanergy_client_ros)/settings/client.xml -frame $(arg ns)"
          required="true" 
          output="screen"/>
  </group>
</launch>
